<div class="container">
  <form>
    Name::<input type="text" ng-model="prs.name">
    Address::<input type="text" ng-model="prs.address">
    <button class="btn btn-success" ui-sref="home.result" ng-click="insertIndi(prs)">Submit</button>
  </form>

  <div>
    Name::{{prs.name}}<br>
    Address::{{prs.address}}
  </div>

  <div>
    <p>Input::<input type="text" ng-model="pras"></p>
    <p>Output::{{pras | camelFormat}}</p>
  </div>
  Zone:
  <select ng-model="opEntered" ng-options="x for x in zone"
          ng-change="getDistrict()">

  </select>
  Zone Selected::{{zoneEntered}}<br>

  <span>District</span>
  <select ng-model="koshiEntered" ng-options="y for y in district" ng-change="getPlaces()">

  </select>
<span>City</span>
  <select ng-model="helloMohendra" ng-options="x for x in city">

  </select>

  <input type="text" value="{{zoneEntered}}">
</div>
